<%= render "layouts/left_admin" %>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
    <h2><%= t ".user" %></h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
        <div class="row"></div>
         <div class="gradeX">
          Download:
          <%= link_to " CSV", admin_users_path(format: Settings.csv), class: "fa fa-file-text-o btn btn-success" %> |
          <%= link_to " Excel", admin_users_path(format: Settings.xls), class: "fa fa-file-excel-o  btn btn-success" %>
        </div>
        <div>
          <br>
        </div>
        <div>
          Add users:
          <%= link_to " Add User", new_admin_user_path, class: "fa fa-plus btn btn-success"  %>
        </div>
        <div>
          <br>
        </div>
        <div>
          <%= render @users %>
        </div>
          <%= will_paginate %>
        </div>
      </div>
    </div>
  </div>
</div>


